@use "../../../constants/list";

$light-purple-blue: #758afe;

.user-list-container {
  position: relative;
}
@media (min-width: 700px) {
  .user-list-container {
    padding-left: 0.6rem;
    position: relative;
  }
}

.chat-box {
  position: absolute;
  right: 1rem;
  width: 4rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  background-color: $light-purple-blue;
  border-radius: 2px;
}
